<div class="container">
  <div class="row d-flex justify-content-end">
    <a (click)="response('cancel')" class="selectHover"><mat-icon mat-list-icon>close</mat-icon></a>
  </div>
  <div class="row">
    <h5>{{ state }}</h5>
  </div>
  <div class="row" style="margin-top: 2%">
    <p>{{ message }}</p>
  </div>
  <div class="row justify-content-around" style="margin-top: 5%">
    <button (click)="response(responseTwo)" mat-stroked-button color="accent">{{ responseTwo }}</button>
    <button (click)="response(responseOne)" mat-stroked-button color="primary">{{ responseOne }}</button>
  </div>
</div>
