<div class="borderComponent" style="padding: 5%">
  <form class="group-size-form" [formGroup]="formGroup">
    <h4 class="text-center">Group factory</h4>
    <mat-form-field [hideRequiredMarker]="formGroup.value.hideRequired">
      <mat-label>Group Size</mat-label>
      <input matInput type="number" [formControl]="formGroupSize"
             required>
      <mat-error *ngIf="formGroupSize.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <div style="margin-top: 3%">
      <p>Parity man/woman :</p>
      <mat-radio-group [formControl]="formGroupOptions">
        <mat-radio-button style="margin-right: 10px" value="parityYes">Yes</mat-radio-button>
        <mat-radio-button value="parityNo">No</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <div class="row justify-content-around" style="margin-top: 7%">
    <div>
      <button [disabled]="formGroupSize.invalid" (click)="makeGroup()" mat-stroked-button color="primary">Make groups</button>
    </div>
    <div>
      <button (click)="saveGroups()"  mat-raised-button color="accent">Save groups ?</button>
    </div>
  </div>
</div>

<div class="borderComponent" style="padding: 5%; margin-top: 10%">

    <h4 class="text-center">Group management</h4>
    <p>liste des groups</p>
  <div class="row justify-content-around">
    <div>
      <button [disabled]="formGroupSize.invalid" type="submit" class="btn btn-success">Make groups</button>
    </div>
    <div>
      <button class="btn btn-success">Save these groups</button>
    </div>
  </div>
</div>

