<div class="row">
  <div style="margin-top: 10%" *ngIf="!displayFormLogin" class="row col-sm-6 offset-3 justify-content-center">
    <app-loader [loaderOptions]="loaderOptions"></app-loader>
  </div>
  <div *ngIf="displayFormLogin" class="col-sm-6 offset-3">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-center">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-profile">
            <mat-form-field>
              <input matInput type="email" placeholder="Email" name="email" formControlName="email" required>
              <mat-error *ngIf="formLogin.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" formControlName="password"
                     required>
              <mat-error *ngIf="formLogin.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="accent">Login</button>
        </mat-card-actions>
      </mat-card>
    </form>
    <div class="row container-fluid" style="margin-top: 2%">
      <div class="row col-sm-7 align-items-center">
        <div>
          <span>You don't have an account yet ?</span>
        </div>
        <div style="margin-left: 5%">
          <button mat-raised-button (click)="goToPageRegister()" color="primary">Register now</button>
        </div>
      </div>
      <div class="col-sm-2 offset-2">
        <button mat-raised-button (click)="forgotPassword()" color="link">Forgot your password ?</button>
      </div>
    </div>
  </div>
</div>
