<div class="row">
  <div class="col-sm-6 offset-3">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title class="text-center">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="form-profile">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" [(ngModel)]="username" name="email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                   required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
