<div [hidden]="!displayForm">
  <h2 mat-dialog-title>{{ formTitle }}</h2>
  <div mat-dialog-content>

    <form class="form-profile" [formGroup]="formProfile" (ngSubmit)="saveUser()"
          (keydown.enter)="$event.preventDefault()">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="formProfile.controls.firstName.invalid">{{ getFirstNameErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="formProfile.controls.lastName.invalid">{{ getLastNameErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field>
      <textarea maxlength="255" style="height: 75px" matInput placeholder="Presentation"
                formControlName="presentation"></textarea>
      </mat-form-field>

      <mat-form-field *ngIf="displayEmail">
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="formProfile.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone 1" formControlName="phone1" minlength="10" maxlength="10">
        <mat-error *ngIf="formProfile.controls.phone1.invalid">{{ getPhone1ErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone 2" formControlName="phone2" minlength="10" maxlength="10">
        <mat-error *ngIf="formProfile.controls.phone2.invalid">{{ getPhone2ErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 25%">
        <input matInput [matDatepicker]="formBirthDate" placeholder="Birth Date" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="formBirthDate"></mat-datepicker-toggle>
        <mat-datepicker #formBirthDate [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Postcode" formControlName="postCode">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>

      <mat-form-field *ngIf="displayPassword">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="formProfile.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="displayPassword">
        <input matInput type="password" placeholder="Confirm Password" formControlName="repeatPassword" required>
        <mat-error *ngIf="formProfile.controls.repeatPassword.invalid">{{ getRepeatPasswordErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-radio-group class="contentMarginTop" formControlName="gender" required>
        <mat-radio-button style="margin-right: 10px" value="female">Woman</mat-radio-button>
        <mat-radio-button value="male">Man</mat-radio-button>
        <mat-error *ngIf="formProfile.controls.gender.invalid">{{ getGenderErrorMessage() }}</mat-error>
      </mat-radio-group>

      <p class="contentMarginTop" style="margin-bottom: 1%">Sector :</p>

      <mat-radio-group formControlName="sector" required>
        <mat-radio-button class="marginRightTen" value="undefined">Undefined</mat-radio-button>
        <mat-radio-button class="marginRightTen" value="indus">indus</mat-radio-button>
        <mat-radio-button value="web">Web</mat-radio-button>
      </mat-radio-group>

      <div class="row contentMarginTop" style="margin-bottom: 3%">
        <input #avatarInput style="display: none" type="file" (change)="fileChangeEvent($event)">
        <button style="margin-right: 3%" (click)="openFileUpload($event)" mat-raised-button color="primary">Upload
          Avatar
        </button>
        <p *ngIf="imageToSave">Avatar uploaded</p>
        <mat-icon *ngIf="imageToSave" style="color: #29b53e; margin-left: 1%">check_circle_outline</mat-icon>
      </div>

      <div mat-dialog-actions>
        <button type="submit" class="marginRightTen" style="width: 30%; margin-right: 3%" mat-raised-button
                color="accent">Save profile
        </button>
        <br>
        <button (click)="cancelClick($event)" style="width: 30%" mat-button>Cancel</button>
      </div>
    </form>
  </div>
</div>

<div [hidden]="displayForm">
  <h2 style="margin-bottom: 2%" mat-dialog-title>{{ formTitle }}</h2>
  <p class="text-center">Please Crop your image</p>
  <div mat-dialog-content>
    <div class="row">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1"
        [resizeToWidth]="250"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <div class="row contentMarginTop">
      <div class="col-sm-5">
        <img [src]="croppedImage"/>
      </div>
      <div class="col-sm-5 align-self-end">
        <button class="marginRightTen" (click)="saveCrop()" style="margin-left: 10%" mat-raised-button color="primary">
          Upload
        </button>
        <button style="margin-left: 2%" class="marginRightTen" (click)="cancelCrop()" mat-stroked-button>Cancel</button>
      </div>
    </div>
  </div>
</div>
