<div *ngIf="userToShow !== null" class="card" >
  <div class="text-center">
    <img src="{{ userToShow.avatar }}" alt="avatar" class="img-user">
  </div>
  <div class="card-body">
    <p class="card-text">{{ userToShow.presentation }}</p>
  </div>
  <div class="row">
    <div class="col-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">First name: {{ userToShow.firstName }}</li>
        <li class="list-group-item">Last name: {{ userToShow.lastName }}</li>
        <li class="list-group-item">Birth date: {{ userToShow.birthDate | date : 'dd MM yyyy' }}</li>
        <li class="list-group-item">Gender: {{ userToShow.gender }}</li>
        <li class="list-group-item">Email: {{ userToShow.email }}</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li class="list-group-item">Address: {{ userToShow.address }}</li>
        <li class="list-group-item">Postcode: {{ userToShow.postcode }}</li>
        <li class="list-group-item">City: {{ userToShow.city }}</li>
        <li class="list-group-item">Phone 1: {{ userToShow.phone1 }}</li>
        <li class="list-group-item">Phone 2: {{ userToShow.phone2 }}</li>
      </ul>
    </div>
  </div>
</div>
