<div *ngIf="userToShow !== null" style="margin-top: 9.3%">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ userToShow._firstName }} {{ userToShow._lastName }}</mat-card-title>
      <mat-card-subtitle *ngIf="userToShow._sector !== 'undefined'"
                         style="color: #FF50A8">{{ userToShow._sector.toUpperCase() }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="card-around-img">
      <img class="image-card" src="{{ userToShow._avatar }}" alt="Photo of student">
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p style="margin-top: 4%">
        {{ userToShow._presentation }}
      </p>
      <div class="row">
        <div class="col-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ userToShow._email }}</li>
            <li class="list-group-item">{{ userToShow._birthDate | date : 'd MMM yyyy' }}</li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ userToShow._phone1 }} / {{ userToShow._phone2 }}</li>
            <li class="list-group-item">{{ userToShow._address }} {{ userToShow._postcode }} {{ userToShow._city }}</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="editProfile(userToShow)" style="margin-right: 2%" mat-stroked-button color="accent">Edit your
        profile
      </button>
      <button (click)="delete()" mat-stroked-button color="link">Delete</button>
      <!--<button (click)="editProfile(userToShow)" mat-stroked-button color="accent">Edit his-->
      <!--profile-->
      <!--</button>-->
      <!--<button mat-stroked-button color="accent">Edit his profile</button>-->
    </mat-card-actions>
  </mat-card>
</div>
<div style="margin-top: 9%">
  <app-result-search *ngIf="usersResult !== null" [result]="usersResult"></app-result-search>
</div>

