@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.size-24 {
  width: 24px;
  height: 24px;
  transform: scale(2);
}

.contentMarginTop {
  margin-top: 2%;
}

.borderComponent {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

#copyright {
  font-size: 10px;
}

.selectHover:hover {
  cursor: pointer;
}

.avatar {
  max-width: 100%;
  height: auto;
}

.buttonToggleSize {
  min-width: 100px;
}
